php_value upload_max_filesize 500M
php_value post_max_size 500M

DirectoryIndex index.php
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule !^(public/|index\.php) [NC,F]
RewriteRule !^public/ index.php [L]

